/* =============================================
-------- 3.Elements / Bootstrap Overwrite --------
==============================================*/

/* ---------------------------------
------------- 1 - Breadcrumbs  */

.breadcrumb {
	padding: 14px 0;
	margin-bottom: 0;
	list-style: none;
	background-color: transparent;
	border-radius: 0;
	font-size:0;
}

.breadcrumb > li {
	display: inline-block;
	padding-right:58px;
	position: relative;
	font-size:15px;
}

.breadcrumb > li:last-child {
	padding-right: 0;
}

.breadcrumb > li:before {
	content: "";
	display:block;
	width:20px;
	height:9px;
	position: absolute;
	top:50%;
	margin-top:-4.5px;
	right:20px;
	background-image: url('../images/sprites/sprite.png');
	background-repeat: no-repeat;
	background-position: -304px 0;
}

.breadcrumb > li:last-child:before {
	display:none;
}

.breadcrumb > li + li:before {
  padding: 0;
  color: #ccc;
  content: "";
}

.breadcrumb > li > a {
	color: #88837a;
}

.breadcrumb > li > a:hover {
	color:#e61446;
}

.breadcrumb > .active {
	color: #a9a396;
}


.breadcrumb.light > li > a {
	color:#ecebeb;
}

.breadcrumb.light > li > a:hover,
.breadcrumb.light > .active  {
	color:#fff;
}

.breadcrumb.light> li:before {
	background-position: -304px -9px;
}

.breadcrumb-container.absolute {
	position: absolute;
	left:0;
	top:0;
	width:100%;
	z-index:888;
}


/* ---------------------------------
------------- 2. Tabs */

.nav {
  padding-left: 0;
  margin-bottom: 39px;
  list-style: none;
}

.nav.reverse {
	margin-bottom: 0;
	margin-top:39px;
}

.nav > li {
  position: relative;
  display: block;
  font:17px/22px 'open_sansregular', sans-serif;
}

.nav > li > a {
  position: relative;
  display: block;
  padding: 7px 20px;
}

.nav > li:first-child > a {
	padding-left:0;
}

.nav > li.active:first-child > a {
	padding-left:20px;
}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #edecdf;
}
.nav > li.disabled > a {
  color: #777;
}
.nav > li.disabled > a:hover,
.nav > li.disabled > a:focus {
  color: #777;
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: #edecdf;
  border-color: #edecdf;
}

.nav-pills > li {
  float: left;
}
.nav-pills > li > a {
	border-radius: 0;
	color:#bdb7aa;
	text-transform: uppercase;
}

.nav-pills > li + li {
  margin:0 0 0 19px;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #fff;
  background-color: #cbc6b5;
}

.nav-pills > li.active:after {
	content:'';
	position: absolute;
	top:100%;
	left:50%;
	margin-left:-6px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 9px 6px 0 6px;
	border-color: #cbc6b5 transparent transparent transparent;
	z-index:40;
}

.nav-pills.reverse > li.active:after {
	content:'';
	position: absolute;
	top:auto;
	bottom:100%;
	left:50%;
	margin-left:-6px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 6px 9px 6px;
	border-color: transparent transparent #cbc6b5 transparent;
}

.nav-tabs {
	border-bottom: 1px solid #e7e2d1;
}

.nav-tabs.reverse {
	border-bottom:none;
	border-top: 1px solid #cbc6b5;
}

.nav-tabs > li {
	float: left;
}

.nav-tabs.reverse > li {
	margin-top: -1px;
}

.nav-tabs > li {
	margin-bottom: -1px;
}

.nav-tabs > li > a {
	margin:0;
	font:15px/24px 'open_sansregular', Verdana, sans-serif;
	border: 1px solid #e7e2d1;
	border-radius: 0;
	color:#9e988a;
	text-transform: uppercase;
	background: #f8f4ee;
	padding:20px 30px;
	margin-left:-1px;
}

.nav-tabs  > li:first-child > a,
.nav-tabs  > li.active:first-child > a  {
	padding-left:30px;
}

.nav-tabs > li > a:hover {
	border-color: #e7e2d1;
}

.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
	background-color: #fbfaf4;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
	color: #858073;
	cursor: default;
	background-color: transparent;
	border: 1px solid #e7e2d1;
	border-bottom-color: transparent;
}

.nav-tabs.reverse > li.active > a,
.nav-tabs.reverse > li.active > a:hover,
.nav-tabs.reverse > li.active > a:focus {
	border: 1px solid #e7e2d1;
	border-top-color: transparent;
}

.nav-tabs.nav-justified {
	width: 100%;
	border-bottom: 0;
}

.nav-tabs.nav-justified > li,
.nav-pills.nav-justified > li {
	float: none;
}

.nav-tabs.nav-justified > li > a {
	margin-bottom: 5px;
	text-align: center;
}

.nav.nav-justified  > li:first-child > a {
	padding-left:20px;
}

.nav-tabs.nav-justified > .dropdown .dropdown-menu {
	top: auto;
	left: auto;
}

@media (min-width: 768px) {
	.nav-tabs.nav-justified > li,
	.nav-pills.nav-justified > li {
		display: table-cell;
		width: 1%;
	}
	.nav-tabs.nav-justified > li > a {
		margin-bottom: 0;
	}
}

@media (max-width: 767px) {
	.nav-pills.nav-justified > li + li {
		margin:0;
	}
}

.nav-tabs.nav-justified > li > a {
	margin-right: 0;
	border-radius: 0;
}

.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus {
	border: 1px solid #e7e2d1;
}

@media (min-width: 768px) {
	.nav-tabs.nav-justified > li > a {
		border-bottom: 1px solid #e7e2d1;
		border-radius: 0;
	}
	.nav-tabs.nav-justified > .active > a,
	.nav-tabs.nav-justified > .active > a:hover,
	.nav-tabs.nav-justified > .active > a:focus {
		border-bottom-color: #fbfaf4;
	}
}

.tab-pane li,
.tab-pane .list-margin {
	line-height:30px;
	margin-bottom:0;
}

.tab-container {
	border:1px solid #e7e2d1;
}

.tab-container.left .nav-tabs,
.tab-container.right .nav-tabs  {
	width:35%;
	margin-bottom: 0;
}

.tab-container.left  .tab-content,
.tab-container.right .tab-content  {
	width:65%;
}


.tab-container.left .nav,
.tab-container.left .tab-content{
	float: left;
}

.tab-container.right .nav,
.tab-container.right .tab-content {
	float: right;
}

.tab-container .tab-content {
	padding:22px 30px;
}


.tab-container.left .nav li,
.tab-container.right .nav li {
	float:none;
	text-align:center;
}

.tab-container .nav-tabs {
	border:none;
}

.tab-container .nav-tabs li a,
.tab-container .nav-tabs > li:first-child > a,
.tab-container .nav-tabs > li.active:first-child > a {
	padding:0 10px;
}

.tab-container.left .nav-tabs > li.active > a {
	border-right:transparent;
}

.tab-container.left .nav-tabs > li > a 
.tab-container.right .nav-tabs > li > a {
	border-right:1px solid #cbc6b5;
	border-top:1px solid #cbc6b5;
}


.tab-container.right .nav-tabs > li > a {
	margin-right:-1px;
}

.tab-container .nav-tabs > li:first-child > a {
	border-top:none;
}

.tab-container.right .nav-tabs > li.active > a {
	border-left-color:transparent;
}

.tab-container .nav-tabs > li:last-child > a,
.tab-container .nav-tabs > li:last-child > a:hover {
	border-bottom: 1px solid #e7e2d1;
}

.tab-container .nav-tabs > li > a:hover {
	border-bottom-color:transparent;
}


@media (max-width: 767px) {
	.tab-container.left .nav,
	.tab-container.right .nav,
	.tab-container.left .tab-content,
	.tab-container.right .tab-content {
		float:none;
		width:100%;
	}

	.tab-container.left .tab-content {
		margin-left:0;
		padding:25px;
	}

	.tab-container.right .tab-content {
		margin-right:0;
		padding:25px;
	}

	.tab-container .nav-tabs li a,
	.tab-container .nav-tabs > li:first-child > a,
	.tab-container .nav-tabs > li.active:first-child > a {
		padding:20px !important;
		height:auto !important;
		line-height:1.5 !important;
	}

	.tab-container.left .nav-tabs > li > a {
		border-right-color: transparent;
	}

	.tab-container.right .nav-tabs > li.active > a {
		border-left-color: #e7e2d1;
	}
}

/* ---------------------------------
------------- 3 - Alerts  */
.alert-dismissable .close {
  top:2px;
}

.alert-dismissable .close:active,
.alert-dismissable .close:focus {
  outline:none;
}


/* ---------------------------------
------------- 4 - Icons  */


.bs-glyphicons-list .col-md-3:nth-child(4n):after {
	clear:left !important;
}

.bs-glyphicons-list li {
	color:#5a5a5a;
	display:block;
	padding:0.7em 1.5em;
	text-align: center;
}

.bs-glyphicons-list li:hover {
	background: #f1f1f1;
}

.bs-glyphicons-list li .glyphicon {
	margin-bottom:0.5em;
	font-size:2em;
	width:100%;
}

.bs-glyphicons-list li  {
	margin-bottom:1em;
}



/* ---------------------------------
------------- 5 - List Groups  */

/* Predefined List style types */
.list-style {
	padding-left:17px;
}

.list-style.list-disc {
	list-style-type: disc;
}

.list-style.list-circle {
	list-style-type: circle;
}

.list-style.list-square {
	list-style-type: square;
}

.list-style.list-decimal {
	list-style-type: decimal;
}

.list-style.list-lower-alpha {
	list-style-type: lower-alpha;
}

.list-style.list-upper-alpha {
	list-style-type: upper-alpha;
}

.list-style.list-lower-roman {
	list-style-type: lower-roman;
}

.list-style.list-upper-roman {
	list-style-type: upper-roman;
}

.fa-ul > li {
	margin-bottom:10px;
}

.list-group {
	margin-bottom: 20px;
}

.list-group-item {
	padding: 10px 15px;
}

a.list-group-item {
	color: #555555;
}

a.list-group-item .list-group-item-heading {
	color: #444645;
	margin-bottom:10px;
}

a.list-group-item:hover,
a.list-group-item:focus {
	background-color: #f2f2f2;
}

.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
	background-color: #7bae23;
	border-color: #7bae23;
}

.list-group-item.active .list-group-item-text,
.list-group-item.active:hover .list-group-item-text,
.list-group-item.active:focus .list-group-item-text {
  color: #fff;
}


/* ---------------------------------
------------- 6 Buttons & Badges */

.btn {
	font-family: 'open_sansregular',sans-serif;
	padding:6px 15px;
	border-radius: 0;
	-webkit-box-shadow:none;
	box-shadow:none;
	-webkit-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}

.btn.min-width-lg{
	min-width:220px;
}

.btn.min-width-slg {
	min-width:190px;
}

.btn.min-width {
	min-width:160px;
}

.btn.min-width-md {
	min-width:150px;
}

.btn.min-width-sm {
	min-width:140px;
}

.btn.min-width-xs {
	min-width:100px;
}

.btn.min-width-xss {
	min-width:60px;
}

.btn-link, 
.btn-link:hover, 
.btn-link:focus,
.btn-link:active {
	border-color:transparent;
}

.btn:focus,
.btn:active {
	outline:none !important;
}

.btn-lger,
.btn-group-lger > .btn {
	padding: 12px 18px;
	font-size: 16px;
	line-height:22px;
	border-radius: 0;
}

.btn-lg,
.btn-group-lg > .btn {
	padding: 10px 18px;
	font-size: 16px;
	line-height:22px;
	border-radius: 0;
}

.btn-sm,
.btn-group-sm > .btn {
	padding: 0.4em 1.1em;
	font-size: 0.85em;
	line-height: 1.5;
	border-radius: 0;
}

.btn-xs,
.btn-group-xs > .btn {
	padding: 0.4em 0.9em;
	font-size: 0.72em;
	line-height: 1.5;
	border-radius: 0;
}

.btn-block {
	display: block;
	width: 100%;
	padding-left: 0;
	padding-right: 0;
}

.btn-block + .btn-block {
margin-top: 0.5em;
}

.btn-custom {
	color: #ffffff;
	background-color: #cbc6b2;
	border-color: transparent;
	text-transform: uppercase;
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active,
.open .dropdown-toggle.btn-custom {
	color: #fff;
	background-color: #e61446;
	border-color: transparent;
}

.btn-custom:active,
.btn-custom.active,
.open .dropdown-toggle.btn-custom {
	background-image: none;
}

.btn-custom.disabled,
.btn-custom[disabled],
fieldset[disabled] .btn-custom,
.btn-custom.disabled:hover,
.btn-custom[disabled]:hover,
fieldset[disabled] .btn-custom:hover,
.btn-custom.disabled:focus,
.btn-custom[disabled]:focus,
fieldset[disabled] .btn-custom:focus,
.btn-custom.disabled:active,
.btn-custom[disabled]:active,
fieldset[disabled] .btn-custom:active,
.btn-custom.disabled.active,
.btn-custom[disabled].active,
fieldset[disabled] .btn-custom.active {
	background-color: #cbc6b2;
	border-color: #cbc6b2;
}

.btn-custom-2 {
	color: #fff;
	background-color: #e61446;
	border-color: #e61446;
	text-transform:uppercase;
}

.btn-custom-2:hover,
.btn-custom-2:focus,
.btn-custom-2:active,
.btn-custom-2.active,
.open .dropdown-toggle.btn-custom-2 {
	color:#fff;
	background-color: #cbc6b2;
	border-color: #cbc6b2;
}

.btn-custom-2.disabled,
.btn-custom-2[disabled],
fieldset[disabled] .btn-custom-2,
.btn-custom-2.disabled:hover,
.btn-custom-2[disabled]:hover,
fieldset[disabled] .btn-custom-2:hover,
.btn-custom-2.disabled:focus,
.btn-custom-2[disabled]:focus,
fieldset[disabled] .btn-custom-2:focus,
.btn-custom-2.disabled:active,
.btn-custom-2[disabled]:active,
fieldset[disabled] .btn-custom-2:active,
.btn-custom-2.disabled.active,
.btn-custom-2[disabled].active,
fieldset[disabled] .btn-custom-2.active {
	background-color: #e61446;
	border-color: #e61446;
}

.btn-custom-3 {
	color: #fff;
	background-color: transparent;
	border-color: #fff;
	text-transform:uppercase;
}

.btn-custom-3:hover,
.btn-custom-3:focus,
.btn-custom-3:active,
.btn-custom-3.active,
.open .dropdown-toggle.btn-custom-3 {
	color:#fff;
	background-color: #1694d6;
	border-color: #1694d6;
}

.btn-custom-3.color:hover,
.btn-custom-3.color:focus,
.btn-custom-3.color:active,
.btn-custom-3.color.active,
.open .dropdown-toggle.btn-custom-3 {
	color:#fff;
	background-color: #e61446;
	border-color: #e61446;
}

.btn-custom-3.disabled,
.btn-custom-3[disabled],
fieldset[disabled] .btn-custom-3,
.btn-custom-3.disabled:hover,
.btn-custom-3[disabled]:hover,
fieldset[disabled] .btn-custom-3:hover,
.btn-custom-3.disabled:focus,
.btn-custom-3[disabled]:focus,
fieldset[disabled] .btn-custom-3:focus,
.btn-custom-3.disabled:active,
.btn-custom-3[disabled]:active,
fieldset[disabled] .btn-custom-3:active,
.btn-custom-3.disabled.active,
.btn-custom-3[disabled].active,
fieldset[disabled] .btn-custom-3.active {
	background-color: #e61446;
	border-color: #e61446;
}

.btn-custom .badge {
	color: #cbc6b2;
	background-color: #ffffff;
}

.btn-custom-2 .badge{
	color: #e61446;
	background-color: #ffffff;
}

.btn-default .badge {
  background-color: #aeaeae;
}

.badge {
  display: inline-block;
  min-width: 10px;
  padding: 0.25em 0.6em;
  font-size: 1em;
  background-color: #aeaeae;
  border-radius: 10px;
}

.btn .badge {
  top:1px;
  margin:0 0.3em;
}


/* ---------------------------------
------------- 7 Dropdown Menu */

.dropdown-menu {
	display:block;
	transition:all 0.4s;
	-webkit-transition:all 0.4s;
	-moz-transition:all 0.4s;
	visibility:hidden;
	opacity:0;
	min-width: 160px;
	padding: 0;
	margin:-20px 0 0;
	font-size: 13px;
	border: 1px solid #ecebe1;
	border-radius: 0;
	-webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
	z-index:900;
	/* ! Fix for chrome bug */
	-webkit-transform:translateZ(0);
}

.open > .dropdown-menu {
	opacity:1;
	visibility: visible;
	margin-top:0;
}

.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
	margin-bottom: 0;
	-webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.dropdown-menu .divider {
	margin: 0.65em 0;
}

.dropdown-menu > li > a {
	padding: 7px 15px;
	line-height: 1.5;
	color: #7e786b;
	border-top:1px solid #ecebe1;
}

.dropdown-menu > li:first-child > a {
	border-top:none !important;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
	color: #7e786b;
	background-color: #fbfaf4;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
	color: #7e786b;
	background-color: #e4e2d2;
}

.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
	color: #aeaeae;
}



/* ---------------------------------
------------- 8 Forms */

.help-block,
.has-error .help-block,
.has-error .control-label, 
.has-error .radio, 
.has-error .checkbox, 
.has-error .radio-inline, 
.has-error .checkbox-inline {
	color:#e61446;
}

label {
	margin-bottom: 10px;
}

.form-label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 14px;
  font-weight: normal;
  font-family: 'open_sansregular', sans-serif;
  color:#b6b4a2;
  font-size:16px;
  line-height:22px;
  text-transform: uppercase;
}

label > span.required {
	color:#e61446;
}

textarea.min-height {
	height:162px;
}

textarea.min-height-sm {
	height:90px;

}

input:focus,
textarea:focus,
select:focus {
	outline:0;
}

fieldset {
	padding:0;
	margin:0  0 60px 0;
	border:none;
}
 
.form-control {
	padding: 6.5px 15px 6.5px 15px;
	height:34px;
	border-radius:0;
	border-color:#e7e1cf;
	font-size:14px;
	line-height:1.5;
	margin-bottom:25px;
	background-color: #fbfaf4;
	color:inherit;
	box-shadow:none;
	-webkit-box-shadow:none;
}

.form-control:focus {
	border-color: #b3ada1;
	outline: 0;
	box-shadow:none;
	-webkit-box-shadow:none;
}

.form-control:-moz-placeholder {
	color:#b6b4a2;
}

.form-control::-moz-placeholder {
	color:#b6b4a2;
}

.form-control:-ms-input-placeholder {
	color:#b6b4a2;
}

.form-control::-webkit-input-placeholder {
	color:#b6b4a2;
}

.form-group,
.form-group .form-control {
	margin-bottom:12px;
}

.form-group.lg-margin,
.form-group.lg-margin .form-control {
	margin-bottom:25px;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
	background: #f5f5f5;
}

.input-sm,
.form-horizontal .form-group-sm .form-control {
	height: 30px;
	padding: 5px 10px 5px 10px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 0;
}

select.input-sm {
	height: 30px;
	line-height: 30px;
}

.input-lg,
.form-horizontal .form-group-lg .form-control {
	height: 46px;
	padding: 10.5px 20px 10.5px 20px;
	font-size: 17px;
	line-height: 1.5;
	border-radius: 0;
}

select.input-lg {
	height: 46px;
	line-height: 46px;
}

.input-group .form-control {
	border-radius:0;
	box-shadow:none;
	-webkit-box-shadow:none;
}

.input-group {
	margin-bottom:25px;
	border-radius: 0;
	position: relative;
}

.input-group .form-control:first-child {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.input-group-addon {
	padding: 6px 12px;
	font-size: 14px;
	font-weight: normal;
	line-height: 1;
	color: #b6b4a2;
	text-align: center;
	background-color: #fbfaf4;
	border: 1px solid #e7e1cf;
	border-radius: 0;
	min-width:120px;
}

.input-group-addon.custom-checkbox-wrapper,
.input-group-addon.custom-radio-wrapper {
	padding:5px 12px;
}

.input-group-sm >.input-group-addon.custom-checkbox-wrapper,
.input-group-sm >.input-group-addon.custom-radio-wrapper {
	padding:4px 10px;
}

.input-group-lg >.input-group-addon.custom-checkbox-wrapper,
.input-group-lg >.input-group-addon.custom-radio-wrapper {
	padding:10px 20px;
}

.input-group-addon .custom-checkbox-container,
.input-group-addon .custom-radio-container {
	margin:0;
	top:1px;
}

.input-group-lg >.input-group-addon .custom-checkbox-container,
.input-group-lg >.input-group-addon .custom-radio-container  {
	top:-1px;
}

.input-group .input-group-addon:first-child {
	padding-left:15px;
	padding-right:15px;
	text-align: left;
}

.input-group .input-group-addon:last-child {
	padding-right:10px;
	padding-left:10px;
	text-align: right;
}

.input-group-addon.icon-addon {
	font-size:18px;
	min-width:60px;
	text-align: center !important;
}

.input-group-sm .input-group-addon {
	border-radius: 0;
}

.input-group-sm>.form-control,
.input-group-sm>.input-group-addon,
.input-group-sm>.input-group-btn>.btn {
	height: 30px;
	padding: 5px 10px 5px 10px;
}


.input-group-sm .input-group-addon.icon-addon {
	font-size:14px;
	line-height:18px;
	min-width:30px;
}

.input-group-sm  .input-group-addon:first-child,
.input-group-lg  .input-group-addon:first-child {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.input-group-sm  .input-group-addon:last-child,
.input-group-lg  .input-group-addon:last-child {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.input-group-lg  .input-group-addon:first-child {
	padding-left:20px;
	padding-right:20px;
}

.input-group-lg  .input-group-addon:last-child {
	padding-right:20px;
}

.input-group-lg .input-group-addon {
	padding: 12.5px 20px;
	font-size: 17px;
	border-radius: 0;
}

.input-group-btn:first-child>.btn,
.input-group-btn:first-child>.btn-group {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.input-group-btn:last-child>.btn,
.input-group-btn:last-child>.btn-group {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.input-group-lg>.form-control, 
.input-group-lg>.input-group-addon, 
.input-group-lg>.input-group-btn>.btn {
	height:46px;
	padding: 10.5px 20px;
	font-size:17px;
}

.input-group-lg .input-group-addon.icon-addon {
	font-size:24px;
	line-height:30px;
	padding: 7px 20px;
	min-width:70px;
}

.no-minwidth {
	min-width:0 !important;
}

.input-group-addon input[type=radio],
.input-group-addon input[type=checkbox] {
	line-height:0;
	vertical-align: middle;
}

.textarea-container {
	position: relative;
	width:100%;
}

.textarea-container .input-group-addon {
	position: absolute;
	top:0;
	left:0;
	width:100%;
	border-radius:0;
	padding:15px 20px 15px 20px;
	z-index:90;
}

.textarea-container .input-group-addon:first-child {
	border-right:1px solid #e4e2e2;
}

.textarea-container textarea,
.textarea-container textarea.form-control {
	padding-top:60px;
	margin-top:0;
}

textarea.form-control {
	padding:20px;
}

select.form-control {
	border-radius:0;
	padding:6px 12px;
}

.input-group-btn>.btn {
	padding:6px 14px;
}

.has-feedback label~.form-control-feedback {
	top:33px;
	right:8px;
}

.input-lg + .form-control-feedback {
	top:29px;
	right:5px;
}

/* Validaton */

.input-group > label {
	position: absolute;
	bottom:100%;
	left:0;
	font-size:12px;
	margin-bottom:6px;
	line-height: 1.5;
	margin-top: 0;
	font-weight:600;
}

.input-group > label.error {
	color:#de0000;
}


/* ---------------------------------
------------- 9 Slider */

.carousel-inner > .item {
	padding:0;
	margin:0;
}

.carousel-inner > .item a {
	display: block;
}

.carousel-control {
	position: absolute;
	top: auto;
	bottom: 20px;
	left: 0;
	width: 35px;
	height:35px;
	font-size: 20px;
	color: #fff;
	text-align: center;
	text-shadow: none;
	filter: alpha(opacity=100);
	opacity: 1;
	border:1px solid #fff;
	transition: background-position 0.35s;
	-webkit-transition: background-position 0.35s;
	-moz-transition: background-position 0.35s;
	-ms-transition: background-position 0.35s;
	-o-transition: background-position 0.35s;
	text-indent:9999px;
}

.carousel-control.left {
	left:auto;
	right:65px;
	background-image: url('../images/sprites/sprite.png');
	background-repeat: no-repeat;
	background-position: -123px -112px;
}

.carousel-control.right {
	right: 20px;
	left: auto;
	background-image: url('../images/sprites/sprite.png');
	background-repeat: no-repeat;
	background-position: -166px -147px;
}

.carousel-control:hover,
.carousel-control:focus {
	border:none;
	filter: alpha(opacity=100);
	opacity: 1;
	background-color: #e61446;
}

.carousel-control.left:hover {
	background-position: -166px -112px;
}

.carousel-control.right:hover {
	background-position: -123px -147px;
}


/* ---------------------------------
------------- 10 Tooltip */

.tooltip {
	font-size: 14px;
	line-height: 1.5;
	z-index:900;
}

.tooltip.in {
  filter: alpha(opacity=94);
  opacity: .94;
}

.tooltip.top {
	padding: 8px 0;
}

.tooltip.right {
	padding: 0 8px;
}

.tooltip.bottom {
	padding: 8px 0;
}

.tooltip.left {
	padding: 0 8px;
}

.tooltip-inner {
	padding: 4px 10px;
	color: #fff;
	border-radius: 0;
	white-space: nowrap;
	background-color: #cbc6b2;
}

.tooltip.top .tooltip-arrow {
	margin-left: -5px;
	border-width: 0 10px 10px 0;
	border-right-color: #cbc6b2;
}

.tooltip.right .tooltip-arrow {
	margin-top: -7.5px;
	border-width: 0 0 10px 10px;
	border-bottom-color: #cbc6b2;
}

.tooltip.left .tooltip-arrow {
	margin-top: -7.5px;
	border-width: 10px 0 0 10px;
	border-left-color: #cbc6b2;
}

.tooltip.bottom .tooltip-arrow {
	margin-left: -5px;
	border-width: 0 0 10px 10px;
	border-bottom-color: #cbc6b2;
}


/* ---------------------------------
------------- 11 Popover */

.popover {
	box-shadow:none;
	-webkit-box-shadow:none;
	z-index: 900;
	border: 1px solid #e7e1cf;
	background-color: #fbfaf4;
	border-radius:0;
	padding:0;
}

.popover-title {
	padding: 10px 14px 6px;
	margin: 0;
	font-size: 18px;
	font-weight: normal;
	line-height: 1;
	background-color: #e7e1cf;
	border-bottom: 1px solid #e7e1cf;
	border-radius: 0;
	box-shadow:none;
	-webkit-box-shadow:none;
}

.popover-content {
	padding: 9px 14px;
}

.popover.top > .arrow {
	border-top-color: #e7e1cf;
}

.popover.top > .arrow:after {
	border-top-color: #fbfaf4;
}

.popover.right > .arrow {
	border-right-color: #e7e1cf;
}

.popover.right > .arrow:after {
	border-right-color: #fbfaf4;
}

.popover.bottom > .arrow {
	border-bottom-color: #e7e1cf;
}

.popover.bottom > .arrow:after {
	border-bottom-color: #e7e1cf;
}

.popover.left > .arrow {
	border-left-color: #e7e1cf;
}

.popover.left > .arrow:after {
	border-left-color: #fbfaf4;
}



/* ---------------------------------
------------- 12 Modal */

.modal {
	z-index:9200;
}

.modal-header {
	padding:20px 20px 15px;
	position: relative;
	border-bottom: none;
}

.modal-header .close {
	font-family: 'open_sanslight', Verdana;
	position: absolute;
	right:-1px;
	top:0;
	height:68px;
	font-size:24px;
	width:42px;
	background: #857e70;
	color:#e7e1cf;
	text-align: center;
	transition:all 0.3s;
	-webkit-transition:all 0.3s;
	-moz-transition:all 0.3s;
}

.modal-header,
.modal-footer {
	background-color: #e7e1cf;
}

.modal-body{
	padding: 30px 20px;
}

.modal-body .form-group:last-child,
.modal-body .form-group:last-child .form-control {
	margin-bottom:5px;
}

.modal-footer {
	padding:15px 20px;
}

.modal-content {
	background-color: #fbfaf4;
	border: 1px solid #e7e1cf;
	border-radius: 0;
	box-shadow: none;
	-webkit-box-shadow: none;
}

.modal .input-group:last-child {
	margin-bottom: 0;
}


/* ---------------------------------
------------- 13 Progress Bars */

.progress-container {
	margin-bottom: 44px;
}

.progress {
  height: 10px;
  margin-bottom: 0;
  overflow: visible;
  background-color: #edebe4;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.progress-bar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 9px;
  line-height: 10px;
  color: #fff;
  text-align: center;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.progress-bar-custom {
  background-color: #e61446;
  position: relative;
  color:#444645;
}

.progress-text {
	display:inline-block;
	font:12px/20px 'open_sanssemibold', sans-serif;
	position: absolute;
	right:0;
	bottom:100%;
	margin-bottom:13px;
	padding:0 5px;
	display:none;
	background-color: #cbc6b2;
	transition:all 0.3s;
	-webkit-transition:all 0.3s;
	-ms-transition:all 0.3s;
	-moz-transition:all 0.3s;
	-o-transition:all 0.3s;
	color:#fff;
}

.progress-animate .progress-text {
	display:none;
}

.progress-text:after {
	content:'';
	position: absolute;
	top:100%;
	right:0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 8px 8px 0;
	border-color: transparent #bdb8a5 transparent transparent;
}

.progress-title {
	color:#8f8a7f;
	font:13px/20px 'open_sansregular', Verdana, sans-serif;
	text-transform: uppercase;
	margin-bottom:5px;
}


/* ---------------------------------
------------- 14 Collapses */

/* Styles */
.panel {
	box-shadow: none;
	-webkit-box-shadow: none;
	margin-bottom:10px;
	border-radius: 0;
	border:none;
	background-color: transparent;
}

.accordion-reverse {
	padding-left:42px;
}

.accordion-reverse .panel {
	margin-bottom: 13px;
}

.accordion-title {
	position: relative;
	font-size:26px;
	line-height: 40px;
	font-family: 'judsonregular', Arial, sans-serif;
	color:#959180;
	padding:0;
	text-transform: capitalize;
}

.accordion-reverse .accordion-title {
	font-size:15px;
	line-height: 20px;
	padding-top:4px;
	color:#908c82;
	text-transform: uppercase;
}

.accordion-title > span {
	display: inline-block;
	padding:0 20px 0 0;
	height:100%;
	background: #fbfaf4;
	position: relative;
	z-index:1;
}

.accordion-title:after {
	content: '';
	position: absolute;
	left:0;
	top:50%;
	margin-top:-1px;
	display: block;
	width:100%;
	height:1px;
	background: #eaeaea;
	z-index:0;
}

.accordion-reverse .accordion-title:after  {
	display:none;
}

.accordion-title .accordion-btn {
	display:block;
	position: absolute;
	z-index:3;
	right:0;
	top:50%;
	width:35px;
	height:35px;
	margin-top:-18.5px;
	background-color: #fbfaf4;
	background-image: url('../images/sprites/sprite.png');
	background-repeat: no-repeat;
	background-position: -228px -257px;
	border:1px solid #aea995;
	transition: background-position 0.3s;
	-webkit-transition: background-position 0.3s;
	-moz-transition: background-position 0.3s;
	-ms-transition: background-position 0.3s;
	-o-transition: background-position 0.3s;
}

.accordion-title .accordion-btn:after {
	content:'';
	position: absolute;
	left:-21px;
	top:0;
	display:block;
	background-color: #fbfaf4;
	width:20px;
	height:100%;
}

.accordion-title .accordion-btn.open {
	background-position: -228px -380px;
}

.accordion-title .accordion-btn:hover,
.accordion-title .accordion-btn:focus {
	background-color:#e61446;
	border:none;
	background-position: -228px -300px;
}

.accordion-title .accordion-btn.open:hover,
.accordion-title .accordion-btn.open:focus {
	background-position: -228px -345px;
}


.accordion-reverse .accordion-title .accordion-btn {
	left:-42px;
	right:auto;
	top:50%;
	width:24px;
	height:24px;
	margin-top:-12px;
	background-color: #cbc6b2;
	background-image: url('../images/sprites/sprite.png');
	background-repeat: no-repeat;
	background-position: -304px -290px;
	border:none;
}

.accordion-reverse .accordion-title .accordion-btn:after {
	display:none;
}

.accordion-reverse .accordion-title .accordion-btn.open {
	background-position: -304px -314px;
	background-color: #e61446;
}

.accordion-reverse .accordion-title .accordion-btn:hover,
.accordion-reverse .accordion-title .accordion-btn:focus {
	background-color:#e61446;
	background-position: -304px -290px;
}

.accordion-reverse .accordion-title .accordion-btn.open:hover,
.accordion-reverse .accordion-title .accordion-btn.open:focus {
	background-position: -304px -314px;
}

/* important for smooth animation */
.accordion-body .accordion-body-wrapper {
	padding:5px 0;
}

.accordion-body ul {
	padding-left:18px;
}

.accordion-body ul li {
	color:#959180;
	padding:5px 0;
}

.accordion-reverse .accordion-body ul li {
	color:#9b968b;
	padding:3px 0;
}

.accordion-panel .panel  {
	margin-bottom: 8px;
}

.accordion-panel-title {
	font:28px/30px 'judsonregular', Verdana, sans-serif;
	color:#959180;
	margin-bottom:0;
	display:block;
	padding:16px 20px 10px;
	border:1px solid #aea995;
	background: transparent;
	position: relative;
	transition:background 0.3s;
	-webkit-transition:background 0.3s;
	-moz-transition:background 0.3s;
	-ms-transition:background 0.3s;
	-o-transition:background 0.3s;
}

.accordion-panel-title:hover {
	color:#6d6c67;
	background-color: #f3f1ea;
}

.accordion-panel-title > span {
	font-size:15px;
	line-height:24px;
	position: absolute;
	left:14px;
	top:50%;
	margin-top:-12px;
	color:#85847e;
}

.accordion-panel-body .accordion-body-wrapper {
	padding:25px 0;
}

.accordion-panel-body  ul {
	padding-left:20px;
}

.accordion-panel-body ul li {
	color:#959180;
	padding:2.5px 0;
}

.accordion-panel-body .fa-ul {
	padding-left:2.1em;
}

.accordion-btn-group {
	padding-bottom:15px;
	border-bottom:1px solid rgba(213,213,213, 0.7);
}

.accordion-btn-body-container .accordion-body-wrapper {
	padding:10px 0;
}

.accordion-body-wrapper li:last-child,
.accordion-body-wrapper p:last-child {
	margin-bottom: 0;
}

/* End collapse */


/* ---------------------------------
------------- 15 Pagination */

.prev-page,
.next-page {
	text-indent:-9999px;
	background-image: url('../images/sprites/sprite.png');
	background-repeat: no-repeat;
	transition:background 0.3s;
	-webkit-transition:background 0.3s;
	-moz-transition:background 0.3s;
	-ms-transition:background 0.3s;
	-o-transition:background 0.3s;
}

.prev-page {
	background-position: -330px 0;
}

.next-page {
	background-position: -362px 0;
}

.prev-page:hover {
	background-position: -330px -32px;
}

.next-page:hover {
	background-position: -362px -32px;
}

.pagination-container {
	margin:46px 0 0;
	font-family: 'open_sansregular', Verdana;
	color:#a7a39b;
}

.pagination-info {
	font-size:14px;
	line-height:34px;
}

/* Bootstrap pagination */
.pagination {
	display: inline-block;
	margin:0;
	border-radius:0;
	font-size:0;
	line-height: 0;
}

.pagination > li {
  display: inline;
}

.pagination > li > a,
.pagination > li > span {
	display:inline-block;
	float:none;
	padding:7px 0 9px;
	width:34px;
	height:34px;
	margin-left: 5px;
	font-size:15px;
	line-height:18px;
	background-color: transparent;
	border: 1px solid #c3c1b8;
	color:#94918a;
	text-align:center;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus,
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
	color: #fff;
	background-color: #cbc6b5;
	border-color: #cbc6b5;
}

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
	color: #999999;
	cursor: not-allowed;
	background-color: #ffffff;
	border-color: #dddddd;
}