<?php echo $header; ?><?php echo $column_left; ?>
<?php

    $servername = "localhost";
	$username = "root";
	$password = "";
	$dbname = "opencart";

	$dbc = mysqli_connect($servername,$username,$password,$dbname)
	or
	die("Database connection error.");

   ?>

<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <h1>Orders Table</h1>
     
    </div>
  </div>
    
  <div class="container-fluid">
      
      
   
      <table border="1" width="50%" cellpadding="10" >
  <tr>
      <th>ID</th>
    <th>Product Name</th>
    <th>Person Name</th> 
    <th>Mobile</th>
      <th>Email</th>
      <th>Action</th>
  </tr>
          
         
  <tr>
      
      <?php 
      
                    $query = "select * from oc_order_new ";

					$data = mysqli_query($dbc, $query) or die(mysqli_error($dbc));

                


					while($row = mysqli_fetch_array($data)){
					?>
                        <td><?php echo $row['p_id'] ?></td>
						<td><?php echo $row['product_name'] ?></td>
                       
                        <td><?php echo $row['c_name'] ?></td>
						
                        <td><?php echo $row['c_number'] ?></td>
                        <td><?php echo $row['c_email'] ?></td>
                     
      <td><a href="index.php?route=inquiry/inquirydelete&token=<?php echo $_GET['token']; ?>&id=<?php echo $row['p_id'] ?>"><i class="fa fa-trash"></i></a></td>
					</tr>
          
          <?php } ?>
 
</table>
      
      
    
      
    
  </div>
</div>
<?php echo $footer; ?>